<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Manage Users</title>
    <link rel="stylesheet" href="/static/styles/admin.css">
</head>
<body>

    <h1>Manage Users</h1>
    
    <section id="user-management">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.role %></td>
                        <td>
                            <a href="/api/users/<%= user._id %>/edit" class="edit-btn">Edit</a>
                            <a href="/api/users/<%= user._id %>/delete" class="delete-btn">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

    
</body>
</html>
